:root {
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background: var(--Light-gray);
}

.card__container {
    background: var(--White);
    width: 300px;
    border-radius: 25px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.img__qrCode {
    width: 100%;
    width: 17rem;
    border-radius: 8px;
}

.text__card {
    width: 263px;
    text-align: center;
    margin: 0 0 25px;
}

.text__card h1 {
    margin: 1rem 0;
    opacity: 0.9;
    font-size: 20px;
    color: var(--Dark-blue);
}

.text__card p {
    color: var(--Grayish-blue);
}


